@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  min-height: 100vh;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

#particles-js {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Heading with Rubik Mono */
h1,h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-optical-sizing: auto;
  }
  
  /* Rest of the content with Playfair Display */
body, p {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.025em;
    font-optical-sizing: auto;
}
  

